@keyframes moving{
    0%{
        position:absolute;
        left:600px;
    }

    20%{
        position:absolute;
        left:650px;
    }
    35%{
        position:absolute;
        left:700px;
    }
    50%{
        position:absolute;
        left:800px;
    }
    65%{
        position:absolute;
        left:900px;
    }
    80%{
        position:absolute;
        left:1000px;
    }
    100%{
        position:absolute;
        background-color: blue;
        left:1100px;
    }

}
/* @keyframes notificationAnimation {
    0% {
      transform: none;
    }
    50% {
      transform: translateY(-5px) rotateY(180deg);
    }
    100% {
      transform: none;
    }
  } */
html,body{
background-color:black;
height: 100%;
background-image: url("/static/images/loginpageback.png");

}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
position: fixed;
top:20%;

}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
.card-footer{
    font-size: 12px;
}

#pixelman{
    animation: moving 10s linear 0s infinite alternate;
    display:inline-block;
    width:50px;
    height:50px;
}
.tomato{
    background-color:tomato;
    border-radius:50%;
    margin:50px;
    width:10px;
    height:10px;
}
