<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
   <script src="https://kit.fontawesome.com/47d6d10abb.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">   
	<link rel="stylesheet" href="/static/css/font.css">
	<link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">

		<div class="tomato"></div>
		<div class="tomato"></div>
		<div id ="pixelman"><img src="/static/images/pixelman.gif"  alt="picman"/></div>
		<div class="test"></div>
		<div class="card">
			<div class="card-header">
				<h3>LOGIN</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook"></i></span>
					<span><i class="fab fa-google-plus"></i></span>
					<span></span>
				</div>
			</div>
			<div class="card-body">
				<form action="/members/login" method="post">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" id="name" name="name" placeholder="username">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" id="password" name="password" placeholder="password">
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div>
					<div class="form-group">
						<input type="submit" value="Login" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a href="/register">Sign Up</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="#">Forgot your password?</a>
				</div>
			</div>
			<div class="test"></div>
		</div>
	</div>
</div>
</body>
</html>