<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cookie</title>
    <link rel="stylesheet" href="/static/css/popup.css" type="text/css">
    <script>
        window.addEventListener("load",function(){

        });

    </script>
</head>
<body>
    <div id="bodydiv">
        <div id="mainback">
            <div class="cl" id="cloud1"></div>
            <div class="cl" id="cloud2"></div>
            <div class="cl" id="cloud3"></div>
            <div class="cl" id="cloud4"></div>
            <div class="cl" id="cloud5"></div>
            <div class="cl" id="cloud6"></div>
            <div class="cl" id="cloud7"></div>
            <div class="cl" id="cloud8"></div>
            <div class="cl" id="cloud9"></div>
        </div>
    </div>
    <div id="land"></div>
    <form action="/nomore" method="get">
        <p>광고보기 싫으세요?</p><button type="submit" id="no-more-btn">YES</button>
    </form>

</body>
</html>

<!--cookieName 이름
    expires 소멸시기-->